<nav class="navbar navbar-expand-lg bg-body-tertiary" >
  <div class="container">
    <a class="navbar-brand" href="/">
      <div class="logoContent">
        
        <h1><i class="bi bi-list-task"></i> Adminitrador de Estudiantes</h1>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<div class="contentSpinnerLoading">
    <div class="spinner"></div>
</div>